* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;
}


.Nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50rem;
    padding: 4rem;
    font-size:  2rem;
}

.diva {
    margin-left: 2rem;
}

a {
    color: #474747;
    text-decoration: none;
}

a:hover{
    color: #C92071;
    text-decoration: underline;
}

